@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.abouttitle{
    font-family: 'Poppins', sans-serif !important;
    margin-top: 50px !important;
    font-weight: 200;

}