@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap');


.css-1e8xkgj-MuiAvatar-root{
    background-color: black !important;
}

.css-1pkxy9n-MuiTypography-root{
    color: rgb(33, 35, 141) !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    background-color: #d5dadb !important;
    border-radius: 7px !important;
    font-family: 'Spartan', sans-serif !important;
    color: rgb(33, 35, 141) !important;
}

.css-owonun-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root{
    background-color: #d5dadb !important ;
    border-radius: 7px !important;
    font-family:'Spartan', sans-serif !important;
    color: rgb(33, 35, 141) !important;
}

.css-1t6e9jv-MuiCardActions-root{
    gap: 10px !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
    background-color: #faf9f9 !important;
}

.css-owonun-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root:hover{
    background-color: #faf9f9 !important;
    color: #9c27b0 !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #faf9f9 !important;
    color: #9c27b0 !important;
}
.css-kfr6x-MuiCardMedia-root{
    height:auto !important;
}